<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Blood Donation Tracker">
    <meta name="author" content = "">
    <title>Blood Donation Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

<div id = "container">
    <div class = "logo">
    </div>
    <div class="header">
        <div class="title_bar">
            <h1>Blood Donation Tracker</h1>
        </div>
        <div class="nav_bar">
            <a href="#" onclick="initiate(dataFile)">Blood Donation</a>
            <a href="#" type="button" data-toggle="modal" data-target="#myModal">Upload</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Blood Group</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Daniel</td>
                <td>James</td>
                <td>Daniel@example.com</td>
                <td>Daniel@example.com</td>
                <td>25 London Road SW2 3BA</td>
                <td>A+</td>
            </tr>
            <tr>
                <td>Sharjeel</td>
                <td>Jan</td>
                <td>Sharjeel@example.com</td>
                <td>Sharjeel@example.com</td>
                <td>25 London Road SW2 3BA</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>Sumite</td>
                <td>Den</td>
                <td>Sumite@example.com</td>
                <td>Sumite@example.com</td>
                <td>25 London Road SW2 3BA</td>
                <td>AB+</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>